{% extends 'base.html' %}


{% block content %}
<div class="container">

    <!-- Header Section -->
    <header class="row" id="header-text">
        <h2>Welcome to the Marvel Cinematic Universe</h2> 
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row" id="middle-section">
        <div>
            <button class="btn1 btn-primary">Search Characters</button>
            <button class="btn1 btn-primary">Join Our Discord</button>
        </div> 
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12" id="middle-text">
            <h2>Collect Marvel Characters</h2>
            <p class="middle-text-p">After you sign up, you can add Marvel characters to your collection</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/antman.jpg" alt="antman" id="antman-image">
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/spideyic.jpg" alt="spidey ironman captain" id="spidey-ic-image">
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/thanos.jpg" alt="thanos" id="thanos-image">
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/mandolorian.jpg" alt="mandolorian" id="mandolorian-image">
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/deadpool.jpg" alt="deadpool" id="deadpool-image">
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/spidey.jpg" alt="spidey" id="spidey-image">
        </div>
    </section>
    <!-- End of Collection of Features -->

    <!-- Start of Community Section -->
    <section class="row" id="community-section">
        <div class="col-12 col-md-6">
            <h1>Meet With Marvel Enthusiasts</h1>
            <h4>
                Talk with other users and compare your favorite characters 
            </h4> 
            <div>
                <button class="btn btn-primary">Join our Discord</button>
            </div>

        </div>

    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <img src="../../static/images/Marvel_Logo.svg.png" alt="Marvel Logo" id="footer-logo">
        </div>
    </footer> 
</div>

{% endblock content %}